<div>
    <mat-card>
        <mat-toolbar>
            <div>
                <img src="assets/logo.png" alt="logo" class="logo">
            </div>
            <button mat-icon-button (click)="clickMenu()">
                <mat-icon class="icons-color-lavener" >menu</mat-icon>
            </button>
            <span class="spacer"></span>
            <button mat-icon-button (click)="logout()">
                <mat-icon class="icons-color-lavener" >logout</mat-icon>
            </button>
            <mat-chip >
                    <mat-icon  matChipAvatar class="icons-color-lavener" >account_circle</mat-icon>
                Username
            </mat-chip>
        </mat-toolbar>
    </mat-card>
</div>