$assetsBaseUrl : 'cloudaccelerator.dmi.ui/src/release-instance/development/assets';

$logoUrl:"#{$assetsBaseUrl}/aspire-logo.png";
$dark-lavender: #734492;
$smoky-black:#0C0C0C;
$brilliant-azure:#3C9EF7;
$tints:#eee;
$mulberry:#C5426E;
$white : #fff